<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.BookMapper">
    <!-- 파일 목록 -->
    <select id="fileList" resultType="kr.ed.haebeop.domain.BookObj">
        select * from bookobj order by uploaddate desc, no asc
    </select>
    <!-- 파일 목록 -->
    <select id="fileGroupList" resultType="kr.ed.haebeop.domain.BookObj">
        select * from bookobj where postno=#{postNo}
    </select>
    <!-- 파일 상세보기 -->
    <select id="fileDetail" resultType="kr.ed.haebeop.domain.BookObj">
        select * from bookobj where no=#{no}
    </select>
    <!-- 파일 수 카운트 -->
    <select id="totalFileCount" resultType="integer" >
        select count(*) from bookobj
    </select>
    <!-- 파일 추가 -->
    <insert id="fileInsert">
        insert into bookobj values (default, #{postNo}, #{saveFolder}, #{originFile}, #{saveFile}, #{fileSize}, #{uploadDate})
    </insert>
    <!-- 글번호가 같은 파일 제거 -->
    <delete id="fileDelete">
        delete from bookobj where postno=#{postNo}
    </delete>
    <!-- 하나의 파일만 제거 -->
    <delete id="fileObjDelete">
        delete from bookobj where no=#{no}
    </delete>
    <!-- 파일 자료실 목록 -->
    <select id="bookboardList" resultType="kr.ed.haebeop.domain.BookBoard">
        select * from bookboard order by postno desc
    </select>
    <!-- 파일 자료 상세보기 -->
    <select id="fileboardDetail" resultType="kr.ed.haebeop.domain.BookBoard">
        select * from bookboard where postno=#{postNo}
    </select>
    <!-- 파일 자료 상세보기 -->
    <select id="latestFileboard" resultType="kr.ed.haebeop.domain.BookBoard">
        select * from bookboard order by postno desc limit 0,1
    </select>
    <!-- 파일 자료 추가 -->
    <insert id="insertBookboard">
        insert into bookboard values (default, #{title}, #{content}, default, default)
    </insert>
    <!-- 파일 자료 수정하기 -->
    <update id="fileboardEdit">
        update bookboard set title=#{title}, content=#{content} where postno=#{postNo}
    </update>
    <!-- 파일 자료 삭제 -->
    <delete id="fileboardDelete">
        delete from bookboard where postno=#{postno}
    </delete>
    <!-- 파일 자료 상세보기시 읽은 횟수 증가 -->
    <update id="countUp">
        update bookboard set visited=visited+1 where postno=#{postNo}
    </update>
</mapper>