<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.CourseMapper">
    <select id="getCourseList" resultType="kr.ed.haebeop.domain.Course">
        select * from course;
    </select>
    <select id="getCourse" resultType="kr.ed.haebeop.domain.Course">
        select * from course where cno = #{cno }
    </select>
    <insert id="insertEnroll">
        INSERT INTO enroll VALUES(DEFAULT, #{cno }, #{id }, DEFAULT, DEFAULT, #{enroll_price }, #{book_name });
    </insert>
    <!-- 등록할 때 강의 테이블의 현재 신청 인원 +1 추가-->
    <update id="updateStudentNum">
        update course set curr_num =1+curr_num where cno=#{cno };
    </update>
    <!-- 수강등록 테이블에 해당 회원의 등록 여부 확인 -->
    <select id="isEnroll" resultType="kr.ed.haebeop.domain.Enroll">
        select * from enroll where id = #{sid } and cno=#{cno}
    </select>
</mapper>